<div>
  <form class='box'<form action="/restaurant/submit_new" method="POST">
    <label>Restaurant name:</label> <br>
    <input type="text" name="name"><br>
    <label>Restaurant category: <span class='small'>e.g. Mexican</span></label><br>
    <input type='text' name='category'><br>
    <label>How far is it from Headquarters?</label>
    <input type='number' name="distance"><br>
    <label>Your favorite dish there:</label><br>
    <input type='text' name='favorite_dish'><br>
    <label>Does takeout? <span class='small'>Check if yes</span></label><br>
    <input type='checkbox' name="does_takeout"><br>
    <label>When did you last eat there?</label><br>
    <input type='date' name="last_ate"><br>
    <br><br>
    <button type="submit">Submit</button>
  </form>
</div>
