<div class='box'>
  <p>Click any restaurant name to see more information!</p>
  <ul>
    {{#each results}}
    <li>
      {{id}}: <a href='/restaurant/{{id}}'>{{name}}</a>, {{category}} style of food
    </li>
    {{/each}}
  </ul>
  <a href='/'>Back to search</a>
</div>
