<form action="/submit" method='POST'>
  <label>To-do description: </label>
  <input type='text' name='description'>
  <br> <br>
  <input type='submit' value='Submit Item'>
  <br> <br>
  <a id='return' href="/todos">Return without submitting</a>
</form>
