* {
    box-sizing: border-box;
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}

html, body {
  display: flex;
  flex-direction: column;
 /*border: 0px;*/
 }

 body > * {
   flex-shrink: 0;
 }

/*#wrapper */
{
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
}

#columnleft {
  background-color: grey;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  padding: 1em;
  /*height: 100%;*/
}

#columncenter {
  background-color: #eee;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  padding: 1em;
  left: calc(0 + 20%);
}

#columnright {
  background-color: lightgrey;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  padding: 1em;
  /*height: 100%;*/
}

p {
  position: relative;
  overflow: auto;
}

h1 {

}
