h1, form {
  text-align: center;
}

h1 {
  margin-top: 2em;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  background-color: grey;
  font-family: sans-serif;
}

#return {
  font-size: .8em;
  color: grey;
}

ul > li {
  line-height: 1.8em;
}

form, ul {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  margin-top: 3em;
  width: 20%;
  padding: 2em;
  border-radius: 10px;
  background-color: white;
}

.struck {
  text-decoration: line-through;
  color: #aaa;
  line-height: 1.8em;
}
