<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

    <script src='/socket.io/socket.io.js'></script>
    <link rel='stylesheet' href='/static/my.css'>

    <script src='/static/frontend.js'></script>
  </head>
  <body>

    {{#if user}}
    <div id='login-box'>
    <p>Hello, {{user}}!</p>
    <p><a href='/logout'>Click here to log out</a></p>
    </div>
    {{/if}}
    {{#if anon}}
    <div id='login-box'>
    <p><a href='/login'>Click here to log in!</a></p>
    </div>
    {{/if}}

    <h1>{{title}}</h1>
    {{{body}}}
  </body>
</html>
