<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <!-- <script type="text/javascript" src="static/phaser.min.js"></script> -->
    <script src='/socket.io/socket.io.js'></script>
    <link rel='stylesheet' href='/static/my.css'>

    <script src='/static/frontend.js'></script>
  </head>
  <body>
    <h1>{{title}}</h1>
    {{{body}}}
  </body>
</html>
