<div id='chat-container'>
  <div id='message-container'>
    <ul id="chat-box">
    </ul>
  </div>
    <!-- <hr> -->
  <label>Your name: <span id='label_name'>default</span></label>
  <div id='send-button' onclick="send_message(event)">Send</div>
  <input id="message" onkeypress="send_message(event)">
  <hr>

  <div id="nick-button" onclick="change_username(event)">Change</div>
  <input id="nickfield" onkeypress="change_username(event)" maxlength="12">
  <label id="nick-label">Change username:</label>
</div>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script>
  var server = io();
  var username = 'default';
  server.on('connect', function(s) {
    console.log('connected');
    username = 'Anon_'+(server.id)[0]+(server.id)[1]+(server.id)[2]
    document.getElementById("label_name").innerHTML = username;
    //console.log(username)
    var url = new URL(location.href);
    room = url.searchParams.get('room') || 'main-room';
    server.emit('join-room', room, username);
  });

  server.on('chat-msg', function(msg){
    var chat = document.getElementById('chat-box');
    //chat.insertAdjacentHTML('beforeend', '\n' + msg);
    //console.log(msg);
    //chat.appendChild(msg.toString());
    var line = $('<li><span class="username">' + msg.user + ': </span>' + msg.msg + '</li>').hide()
    $('#chat-box').append(line);
    line.show('fast');
    if ($('#chat-box li').length > 35){
      var old = $('#chat-box li:first')
      old.hide('fast');
      old.remove();
    }

    server.on('nick-change-success', function(new_name){
      username = new_name;
      document.getElementById("label_name").innerHTML = username;
      document.getElementById('nickfield').value = ''
    })
  });

  function change_username(event){
    var char = event.which || event.keyCode;
    if (char == '13' || event.type == 'click') {
      var new_username = document.getElementById('nickfield').value;
      let old_username = username
      //console.log('Username change called')
      server.emit('nick-change', server.id, old_username, new_username)
    }
  }

  function send_message(event) {
    //console.log(document.cookie)
    var char = event.which || event.keyCode;
    if (char == '13' || event.type == 'click') {
      var msg = document.getElementById('message');
      //server.emit('incoming', msg.value);
      server.emit('incoming', {room: room, msg: msg.value, user: username})
      msg.value = '';
    }
  }

  // $(document).ready(function() {
  //   $("#send-button").click(send_message(event))
  // }
  // ))

</script>
