* {
    box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  /*background-color: lightgrey;*/
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
}

p {

}

header {

}

nav {
  position: fixed;
  top: 2px;
  left: 25%;
  right: 25%;
  /*clear: left;*/
  text-align: center;
}

nav h1 {
  color: white;
}

nav div {
  background-color: midnightblue;
  opacity: .5;
  padding-top: .2em;
  padding-bottom: 1em;
  border-radius: 30px;
  margin: auto;
  width: 100%;
}

nav ul {
  opacity: 1;
  list-style-type: none;
  color: white;
  display: inline-flex;
  float: center;
  /*width: 50%;*/
  /*padding: 0;*/
  margin: auto;

}

nav a {
  float: left;
  width: 6em;
  text-decoration: none;
  color: white;
  background-color: darkgrey;
  padding: 0.2em 0.6em;
  /*border-right: 1px solid white;*/
}

nav a:hover {
  background-color: grey;
}
nav li {
  opacity: 1;
  display: inline-block;
  text-align: right;
  padding-right: .25em;
}

nav ul, nav a {
  padding-left: 0em;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 3px;
}

p {
  clear:left;
  clear:right;
  padding-left: 5em;
  color: #ddd;
}

main {
  margin-top: 12em;
  clear:left;

}
main div {

}

#last {
  border: none;
}

.small {
  font-size: .8em;
  padding-left: 6em;
}
