* {
    box-sizing: border-box;
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}

html, body {
  display: flex;
  flex-direction: column;
 /*border: 0px;*/
 }

 body > * {
   background-color: white;
   flex-shrink: 0;
 }

/*#wrapper */
{
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
}

#topleft {
  background-color: grey;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 33%;
  width: 33%;
  padding: 1em;
  /*height: 100%;*/
}

#middlecenter {
  background-color: #444;
  position:absolute;
  height: 34%;
  width: 34%;
  left: 33%;
  top: 33%;
}

#topright {
  background-color: lightgrey;
  position: absolute;
  right: 0;
  top: 0;
  height: 33%;
  width: 33%;
  padding: 1em;
  /*height: 100%;*/
}

#topcenter {
  position:absolute;
  top: 0;
  left: 33%;
  width: 34%;
  height: 33%;
  margin: auto;
  background-color: skyblue;
}

#bottomcenter {
  position: absolute;
  bottom: 0;
  left: 33%;
  width: 34%;
  height: 33%;
  background-color: yellow;
  opacity: .7;
}

#middleleft {
  position: absolute;
  left: 0;
  top: 33%;
  width: 33%;
  height: 34%;
  background-color: forestgreen;
}

#bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33%;
  height: 33%;
  background-color: #aaa;
}

#middleright {
  position: absolute;
  right: 0;
  top: 33%;
  height: 34%;
  width: 33%;
  background-color: darkred;
}

#bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 33%;
  width: 33%;
  background-color: #bbb;
}

p {
  position: relative;
  overflow: auto;
}

h1 {

}
